.logo {
    width: 250px;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 200px;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: arial;
    margin-top: 15%;
    background-color: white;
    border-radius: 5px;
}

.title {
    color: grey;
    font-size: 18px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    color: black;
    background-color: #F0EAD6;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px 0 10px 0;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

.profile-img {
    border-radius: 50%;
    min-height: 150px;
    max-height: 150px;
    max-width: 150px;
    min-width: 150px;
    margin-top: -15%;
    background-color: white;
    padding: 6px;
}