body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #ffaaff;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  background-color: #92a1d1;
}
#container {
  width: 1400px;
  margin: 0 auto;
}
#calendar {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 190px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}
.event {
  font-size: 15px;
  padding: 7px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
  display: none;
}
#newEventModal,
#deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton,
#deleteButton {
  background-color: #d36c6c;
}
#saveButton,
#closeButton {
  background-color: #92a1d1;
}
#eventText {
  font-size: 14px;
}
button:hover,
a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 1420px) {
  .day {
    width: 15vw;
  }
}
@media only screen and (max-width: 1000px) {
  .day {
    width: 23vw;
  }
}
@media only screen and (max-width: 900px) {
  .day {
    width: 18vw;
  }
}
@media only screen and (max-width: 800px) {
  .day {
    width: 28vw;
  }
}
@media only screen and (max-width: 600px) {
  #newEventModal,
  #deleteEventModal {
    display: none;
    z-index: 20;
    border-radius: 5px;
    width: 40vw;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
  }
  .day {
    width: 45vw;
  }
  .event {
    font-size: 12px;
  }
}
